NUXT_SUPABASE_URL=https://bozfvtdbymwsvvyeokix.supabase.co
NUXT_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJvemZ2dGRieW13c3Z2eWVva2l4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEyNTE5NDYsImV4cCI6MjA5NjgyNzk0Nn0.QK1DQRnP843D4QWr9AojoarOOoht8s2Ey2Li_9CVaGw
